.navbar {
    display: flex;
    height: 60px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    box-shadow: 0px 0px 30px rgb(214, 214, 214);
    z-index: 10px;
}

.navbar > div {
    display: flex; flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;}