.calendar {
    width: 900px;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .calendar-header {
    width: 100%;
    height: 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
  }
  
  .calendar-body {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .table-header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    /* background-color: bisque; */
  }
  
  .weekday {
    width: 100px;
    text-align: center;
  }
  
  .table-content {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    /* background-color: lightcoral; */
  }
  
  .calendar-day {
    width: 125px;
    height: 75px;
    position: relative;
  }
  
  .calendar-day:hover {
    font-weight: bold;
  }

  .red {
    background-image: linear-gradient(to bottom right,  transparent calc(50% - 1px), black, transparent calc(50% + 1px))
    }
  
  .calendar-day p {
    position: absolute;
    right: 10px;
    color: #a6a6a6;
    user-select: none;
  }
  
  .current p {
    color: #000000;
  }
  
  .selected p {
    color: #cc0000;
    font-weight: bold;
  }


.day {background-color: rgb(92, 184, 255);}
.night {
  background-color: rgb(0, 16, 110);
}
.night > p {
  color: white;
}